CONFIG_EC100=y
CONFIG_NANDFLASH=y
CONFIG_DEBUG=y
CONFIG_THUMB=n
CONFIG_ON_DIE_ECC=y
CONFIG_ENABLE_SW_ECC=n
CONFIG_IMG_ADDRESS="0x00020000"
CONFIG_IMG_SIZE="0x00080000"
CONFIG_JUMP_ADDR="0x23f00000"
CONFIG_BUS_SPEED_100MHZ=y
